/* Nettoyage total du body pour laisser React travailler */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* On enlève le !important et le background forcé ici */
  background-color: #030712; 
  font-family: sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
